* {
  margin: 0;
  font-family: sans-serif;
}
header {
  display: flex;
  background: url(https://images.pexels.com/photos/358528/pexels-photo-358528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  // position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
h2 {
  color: #fff;
  margin: 15px 40px;
  flex-grow: 1;
}
h2 img {
  width: 40px;
}
div ul li {
  color: #fff;
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  flex-grow: 9;
  font-size: 20px;
  cursor: pointer;
}
.title {
  color: #fff;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  margin-top: 80px;
}
.title span {
  color: #ff6c00;
}
.text1 {
  margin-top: 25px;
  color: #fff;
  font-size: 25px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.text1 span {
  border: 3px solid #fff;
  padding: 20px 15px;
  border-radius: 10px;
}
.text2 {
  margin-top: 56px;
  font-size: 18px;
  margin-bottom: 48px;
}
@media (max-width: 860px) {
  div ul li {
    margin: 30px 10px;
  }
}
@media (max-width: 700px) {
  div ul li {
    display: flex;
  }
}
@media (max-width: 500px) {
  body {
    width: 500px;
  }
}
